# === General ===
*.log
*.pid
*.sock
*.db
*.swp
*.yaml
*.env*

# === Rails Runtime & Temp ===
/core/log/*
!/core/log/.keep

/core/tmp/*
!/core/tmp/.keep

/core/tmp/pids/*
!/core/tmp/pids/
!/core/tmp/pids/.keep

/core/storage/*
!/core/storage/.keep

/core/tmp/storage/*
!/core/tmp/storage/
!/core/tmp/storage/.keep

# === Rails Build Artifacts ===
/app/assets/builds/*
!/app/assets/builds/.keep

/public/assets

# === Environment & Secrets ===
.env*
/config/master.key
/deploy/.kamal/secrets/KAMAL_REGISTRY_PASSWORD

# === Vendor and Package Management ===
/vendor/
/.bundle/
/node_modules/
yarn.lock
package-lock.json

# === Devtools ===
/devtools/Gemfile.lock

# === IDE, OS, and Editor Junk ===
.idea/
.vscode/
.DS_Store
Thumbs.db

# === Byebug and Debugging ===
.byebug_history

# === RubyMine generated ===
/docs/rbs_collection/
