<% if product.inventory_count.to_i > 0 %>
  <p class="text-green-600 font-semibold text-sm">
    <%= product.inventory_count %> in stock
  </p>
<% else %>
  <p class="text-red-600 font-bold text-sm">Out of stock</p>
  <p class="text-xs text-gray-500 mt-1">Email me when available.</p>

  <%= form_with model: [product, Subscriber.new], class: "mt-3 space-y-2" do |form| %>
    <%= form.email_field :email, placeholder: "you@example.com", required: true, class: "w-1/4 block border border-gray-300 rounded-lg shadow-sm px-3 py-2 text-sm focus:border-indigo-500 focus:ring-indigo-500" %>

    <%= form.submit "Notify Me", class: " bg-indigo-600 text-white px-4 py-2 rounded-lg shadow-sm hover:bg-indigo-700 text-sm font-medium transition" %>
  <% end %>
<% end %>
